html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  position: relative;
}

.text-wrapper {
  position: absolute;
}

/*
## Details

- *Typefaces:* `Open Sans` (regular, italic, bold)
- *Text sizes:* `4rem`, `2rem`
- *Colours:* `rgba(0, 0, 0, .5)`
- *Expected class names:* `.img-flex`, `.banner`
- *Banner maximum height:* `500px`
- *Content maximum width:* `50em`
*/
